---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";

// Sidebar background for dark theme
.sidebar {
  background-color: #252a34;
}

.author__content {
  background-color: #252a34;
}

// Fix thumbnail black bars
.archive__item-teaser {
  background-color: transparent !important;
  background: none !important;
  position: relative;
  overflow: hidden;

  img {
    object-fit: cover !important;
    object-position: center center !important;
    width: 100% !important;
    height: 100% !important;
  }
}

.grid__item .archive__item-teaser img {
  object-fit: cover;
  object-position: center;
}
