---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";

// Widen the main content area
.page {
  width: 100%;
}

.page__content {
  max-width: 1200px;
}

.wide {
  max-width: 100%;
}
