---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";

// Sidebar background for dark theme
.sidebar {
  background-color: #252a34;
}

.author__content {
  background-color: #252a34;
}
